<!DOCTYPE html>
<html>
<body>
<input type="hidden" id="name" value="{{name}}">
<input type="hidden" id="email" value="{{email}}">
<input type="hidden" id="coursename" value="{{coursename}}">
{{name}}<br>
<b>{{email}}</b><br>
{{coursename}}

<p id='blockhash' ></p>
<p id='blockNumber' ></p>

<script src="https://cdn.jsdelivr.net/gh/ethereum/web3.js@1.0.0-beta.36/dist/web3.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" crossorigin="anonymous"></script>
<script>
        var contract ; 
        var address = "0x94F6A9f0948Cb652E18466b97Be28F6EE0b9a6e7"   ; 
        var abi =   [
	{
		"constant": false,
		"inputs": [
			{
				"name": "_studentName",
				"type": "string"
			},
			{
				"name": "_studentEmail",
				"type": "string"
			},
			{
				"name": "_studentCourseName",
				"type": "string"
			}
		],
		"name": "setStudent",
		"outputs": [],
		"payable": false,
		"stateMutability": "nonpayable",
		"type": "function"
	},
	{
		"constant": true,
		"inputs": [],
		"name": "getInstructor",
		"outputs": [
			{
				"name": "",
				"type": "string"
			},
			{
				"name": "",
				"type": "string"
			},
			{
				"name": "",
				"type": "string"
			}
		],
		"payable": false,
		"stateMutability": "view",
		"type": "function"
	}
]
    ;
$(document).ready(function()
        {
            web3=new Web3(web3.currentProvider);
            window.web3.currentProvider.enable();
            contract =  new web3.eth.Contract (abi, address );  
			
			var name = "";
            var email = "";
            var coursename = "";
			name 	= $('#name').val();
			email 	= $('#email').val();
			coursename = $('#coursename').val();
			
			web3.eth.getAccounts().then(function(accounts){
                var acc = accounts[0];
                return contract.methods.setStudent(name,email,coursename).send({from:acc});

            }).then(function(tx)
            {
                console.log(tx);
                $('#blockhash').html('Block Tx Hash : ' + tx.transactionHash);
                $('#blockNumber').html('Block Tx Number : ' + tx.blockNumber);
                 
                //location.replace("/saveh/"+cno+"/"+tx.transactionHash)
            }).catch(function(tx)
            {
                console.log(tx);
            })			
        })

</script>
</body>
</html>



